.card {
  box-shadow: 0 4px 8px 0;
}


button .b1 {
  float: left;
}

h4 {
  font-weight: bold;
  text-align: center;
  margin-top: 3px;
}

.quiz-head {
  text-align: center;
}

h4.header {
  display: none;
}


#time {
  display: none;
}

#ruby {
  display: none;
}

#js {
  display: none;
}

#pythonInfra {
  display: none;
}

#pythonData {
  display: none;
}

#rust {
  display: none;
}


