.card {
  box-shadow: 0 4px 8px 0;
}


button .b1 {
  float: left;
}

h4 {
  font-weight: bold;
  text-align: center;
  margin-top: 3px;
}

.quiz-head {
  text-align: center;
}

H4.header {
  display: none;
}

#results {
  display: none;
}

